<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
</head>
<body>

<table>
  <thead>
  <tr>car</tr>
  </thead>
  <tbody>
  <tr>
    <td>Ford</td>
  </tr>
  </tbody>
</table>
<br>
<label>Username</label>
<input type="text" name="username" id="username">
<br>
<label>Select your Program</label>
<select>
  <option value="us_sdet">US SDET</option>
  <option value="eu_sdet">EU SDET</option>
  <option value="us_jd">US JD</option>
</select>
<br>
<form>




</form>















</body>
</html>